.hydraArrow {
    display: flex;
    align-items: top;
    justify-content: space-between;
}


.hydraArrow__title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
}

.hydraArrow__arrow {
    max-height: 45px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    column-gap: 27px;
}



.arrow__title1 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 300;
}

/* rightSide */

.hydraArrow__rightSide {
    max-width: 652px;
}

.rightSide__text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
}

/* end RightSide */

/* media */
@media(max-width: 1120px) {
    .hydraArrow__rightSide {
        max-width: 100%;
    }

}

@media(max-width: 520px) {
    .hydraArrow__leftSide {
        text-align: center;
    }


    .arrow__title1 {
        width: 100%; /*для того, щоб прибрати flex-відступ (бо після видалення сусіднього елементу не можу центровати текст)*/
    }
}

@media(max-width: 400px) {
    .hydraArrow__rightSide {
        display: none;
    }


    .hydraArrow__title {
        font-size: 28px;
    }

    .arrow__title1 {
        font-size: 28px;
    }
}


/* end media */