
.card-section {
    display: flex;
    justify-content: center;
    column-gap: 11px;
    margin: 110px 0;
}

.section_1, .section_2 {
    display: flex;
    column-gap: 11px;
}

@media(max-width: 1120px) {
    .card-section {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 11px;
    }
}

/* @media(max-width: 520px) {

} */