.form {
    width: 100%;
    border-radius: 100px;
    background: radial-gradient(50% 50% at 50% 50%, #403A5F 0%, #211E2E 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* header */

.header__supTitle {
    color: #FFF;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 90px;
}

.header__vector {
    margin: 30px 0 21px;
    max-width: 100%;
}

.header__subTitle {
    color: #FFF;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 300;
}

/* end header */

/* inputs */

.form__inputs {
    width: 100%;
    display: grid;
    grid-row-gap: 33px;
    grid-column-gap: 12px;
    grid-template-areas:
        'item1 item2'
        'item3 item4'
        'item5 item5'
        'item6 item6';
    padding: 65px 108.5px 51px;
    
}

.inputs__item {
    padding: 0 20px ;
    color: white;
    font-size: 18px;
}

::placeholder {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
}

.gridItem1 {
    grid-area: item1;
}

.gridItem2 {
    grid-area: item2;
}

.gridItem3 {
    grid-area: item3;
}

.gridItem4 {
    grid-area: item4;
}

.gridItem5 {
    grid-area: item5;
}

.gridItem6 {
    grid-area: item6;
    height: 210px !important;
    padding-top: 30px;
    resize: none;
}

.gridItem6::placeholder {
    position: absolute;
    top: 14%;
}

.inputs__item {
    /* width: 524px; */
    height: 72px;
    border-radius: 40px;
    border: 2px solid #FFF;
    background-color: transparent;
}

/* end inputs */

.form__button {
    color: #343045;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    border: none;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    margin-bottom: 80px;
}

@media (max-width: 767.98px) {
    .form__inputs {
        grid-template-areas:
        'item1'
        'item2'
        'item3'
        'item4'
        'item5'
        'item6';
        padding: 36px 22px 51px;
    }

    .form__header {
        margin: 0 15px;
    }
}

@media (max-width: 510px) {
    .header__vector {
        max-width: 80%;
    }

    .header__supTitle, .header__subTitle {
        font-size: 24px;
    }

    .inputs__item {
        height: 53px;
    }
    .form__button {
        width: 85%;
        padding: 15px 54px;
        margin-bottom: 60px;
    }

    .header__supTitle {
        margin-top: 48px;
        
    }

    .form {
        border-radius: 40px;
    }
}

@media (max-width: 350px) {
    .header__vector {
        margin: 21px 0 21px;
    }

    .inputs__item {
        width: 100%;
        max-width: 100%;
    }
}