.wrapper {
    margin-top: 124px;
    width: 100%;
    position: relative;
}


.main-numbers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 70px;
    margin-bottom: 112px;
}

.numbers__vector, .numbers__vector1 {
    position: absolute;
    left: 0;
    max-width: 1449px;
    width: 100%;
    max-height: 163px;
    height: 100%;
}

.numbers__vector {
    top: 0;
}

.numbers__vector1 {
    position: absolute;
    bottom: 20%;
    display: none;
}

/* slider styles */


.slider {
    width: 100%;
    position: relative;
    height: 291px;
    margin-bottom: 81px;
}

.slideWrapper {
    /* position: relative; */
    display: flex;
    justify-content: center;
}

/* .prevButton, .nextButton {
    top: 100%;
} */

.nextButton {
    right: 0%;
    
}

.prevButton {
    left: 0%;
}

.card-wrapper {
    position: relative;
    width: 200px;
}

/* end slider slides */

/* media */

@media(max-width: 1120px) {
    .main-numbers {
        grid-template-columns: repeat(2, 270px);
        grid-row-gap: 45px;
        grid-column-gap: 45px;
        justify-content: center;
        /* place-items: center; */
    }

    .numbers__vector1 {
        display: block;
    }

}

@media(max-width: 400px) {
    .slider {
        height: 200px;
    }
}

/* end media */